.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: var(--header-height);
  padding: 0 5%;
  background-color: var(--primary-color);
  z-index: 10; /* Se muestra por delante de todo */
}

.App-header>a {
  text-decoration: none;
}

.header-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.header-title:hover {
  transform: scale(1.04);
  cursor: pointer;
  letter-spacing: 3px;
  transition: 0.35s;
}

/* main {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* place-self: stretch center; 
} */

/* -- Responsive -- */

/*  Over to 768px */
@media screen and (min-width: 768px) {

  .App-header>h6 {
    font-size: 2.3rem;
  }
}